.card_contatos{
    width: 140px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.card_contatos_a{
    width: 100%;
    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: 15px;
}
.card_contatos_a_img{
    padding: 10px;
}
.card_contatos_a:hover{
    color: white;
    transition: .5s;
}
.card_contatos_a_img{
    width: 100%;
}

/*Tablets*/
@media (max-width:1000px) {
    .card_contatos{
        width: 160px;
        padding: 35px;
    }
    .card_contatos_a{
        width: 100%;
        text-decoration: none;
        color: black;
        font-style: italic;
        font-size: 11px;
    }
}
/*Mobile*/
@media (max-width:500px) {
    .card_contatos {
        width: 90px;
        padding: 10px;
    }
    .card_contatos_a{
        font-size: 12px;
    }
    
    
}