.footer_div{
    text-align: center;
    height: 85px;
    background-color:#EBEC8E;
    margin-bottom: 0;
    width: 100%;
}
.footer_p{
    padding-top: 35px;
    color: black;
    font-size: 15px;
    text-align: center;
}
.footer_p_a{
    text-decoration: none;
    font-style: italic;
    color: black;
}
.footer_p_a:hover{
    color: white;
    transition: .5s;
    font-size: 17px;
}

@media (max-width:500px) {
    .footer_div{
        height: 150px;
        padding: 80px;
    }
    .footer_p{
        padding-top: 2px;
        font-size: 12px;
    }
    .footer_p_a:hover{
        font-size: 15px;
    }
}